*{
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
}

/* form */

.form-container {
  height: 90vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  min-width: 480px;
  background-color: white;
  padding: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.75);
}

.form--input {
  width: 100%;
  margin: 10px 0;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(165, 165, 165);
  background-color: transparent;
  padding: 5px;
  font-family: 'Inter', sans-serif;
}

.form--submit {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
  background-color: #0d6efd;
  border: none;   
  cursor: pointer; 
}

.form--helper {
  color: red;
}

.link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: 500;
  padding: 7px;
}

.link:hover {
  color: #c6dcfd;
}